.page-container{
    min-height: 100vh;
    max-width: 1200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    header{
        background-color: #142d4c;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    
        h1{
            color: #9fd3c7;
        }
        
        button{
            color: #142d4c;
            background-color: #9fd3c7;
            height: 3em;
            width: 10em;
            border-radius: 25px;
            border: 1px solid #9fd3c7;
        }
    
    }

    .books-container{
        background-color: #ececec; 
        flex-grow: 1;
    }

    #form-container {
        background-color: #142d4c;
        color: #9fd3c7;
        position: fixed;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%; /* Fill the width of the viewport */
        max-width: inherit;

        form{
            display: flex;
            justify-content: space-around;
            align-items: center;

            #form-inputs{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr ;
                padding: 20px;
                gap: 20px;

                #form-row-1 label,
                #form-row-2 label,
                #form-row-3 label{
                    margin-right: 10px;
                }            

                #form-row-4{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-column: 1/4;
                }
            }

            #submit-book {
                color: #142d4c;
                background-color: #9fd3c7;
                height: 3em;
                width: 10em;
                border-radius: 25px;
                border: 1px solid #9fd3c7;            }
        }
    }
    
    .books-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        padding: 15px;
        gap: 15px;

        .book-card{
            display: flex;
            flex-direction: column;
            border: 1px solid #142d4c;
            background-color: #9fd3c7;
            color: #142d4c;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            .book-buttons{
                display: flex;
                justify-content: space-between;
                button{
                    color: #9fd3c7;
                    background-color: #142d4c;
                    height: 2.5em;
                    width: 5em;
                    margin: 2px;
                    border-radius: 25px;
                    border: 1px solid #142d4c;
                }
            }

        }
    }
}

