.book-card{
    border: 1px solid #142d4c;
    background-color:  #ececec;
    color: #142d4c;
}

.page-container{
    min-height: 100vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    header{
        background-color: #142d4c;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    
        h1{
            color: #9fd3c7;
        }
        
        button{
            color: #142d4c;
            background-color: #9fd3c7;
            height: 3em;
            width: 10em;
            border-radius: 25px;
            border: 1px solid #9fd3c7;
        }
    
    }

    .books-container{
        background-color: #ececec; 
        flex-grow: 1;
    }

    #form-container {
        background-color: #142d4c;
        color: #9fd3c7;
        form{
            display: flex;
            justify-content: space-around;
            align-items: center;

            #form-inputs{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr ;
                padding: 20px;
                gap: 20px;

                #form-row-1 label,
                #form-row-2 label,
                #form-row-3 label{
                    margin-right: 10px;
                }            

                #form-row-4{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-column: 1/4;
                }
            }

            #submit-book {
                height: 40px;
            }
        }
    }
}

